.nav {
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        list-style: none;
        @media(max-width:900px){
            display: none;
        }
        li{
            padding: 20px;
            a{
                color: #000;
                text-decoration: none;
            }
        }
    }
}
